{% extends "pycompiler/base.html" %} {% block content %}
<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
  type="text/javascript"
></script>
<br>
{% if error %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endif %}
<br>
<h6 style="color: rgb(255, 136, 0);">Note: It's adivised to clear all the 'None' fields before starting if any.</h6>
<form method="post">
  {% csrf_token %}
  <br />
  <div class="form-group">
    <label for="filename">Filename</label>
    <input
      type="text"
      style="width: 400px"
      name="filename"
      class="form-control"
      id="filename"
      value="{{ form.filename.value }}"
    />
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <select id="mode" size="1">
          <option value="ace/mode/python">python</option>
        </select>
        <button type="submit" style="background-color: rgb(247, 247, 247)">
          Save + Run
        </button>
        <label for="editor"><br /></label>
        <div
          contenteditable="true"
          id="editor"
          style="
            opacity: 1;
            font-size: 20px;
            height: 400px;
            width: 700px;
            top: 0px;
            left: 0px;
            position: relative;
          "
        >{{ form.text.value }}</div>
        <textarea name="text" style="display: none">
{{ form.text.value }}</textarea
        >
        <script
          src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js"
          type="text/javascript"
          charset="utf-8"
        ></script>
        <script>
          editor = ace.edit("editor");
          editor.getSession().setUseWorker(false);
          editor.setTheme("ace/theme/monokai");
          editor.getSession().setMode("ace/mode/python");
          var editor = ace.edit("editor");
          var textarea = $('textarea[name="text"]');
          editor.getSession().on("change", function () {
            textarea.val(editor.getSession().getValue());
          });
        </script>
      </div>
      <div class="col">
        <label for="input">Input</label>
        <textarea
          name="input"
          style="height: 400px; background-color: rgb(247, 247, 247)"
          class="form-control"
          id="input"
        >
{{ form.input.value }}</textarea
        >
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="output">Output</label>
    <textarea
      name="output"
      class="form-control"
      id="output"
      rows="7"
      name="output_area"
      style="border: 1px solid grey"
      disabled
    >
{{ form.output.value }}</textarea
    >
  </div>
</form>

{% endblock %}
